uhub-api/src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-reportsFlow" doc:id="91deb5fe-19b7-4a02-ab0a-f635db2cfdc8" >
		<http:listener doc:name="Listener" doc:id="b1a9988b-deb6-4c7a-8300-1b72a5bb6622" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="31579e6d-3968-4e20-8e62-5d5be5571375" message="#[attributes.queryParams.state]"/>
	</flow>
</mule>
