uhub-api/src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2fe75df9-4813-4c02-8091-022e7bbd2819" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="ca494bfc-1774-4a96-afc7-ba28495d04fa" >
		<http:listener doc:name="Listener" doc:id="a0e4961c-2af5-4641-a240-2ab984ea2a8a" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="3013f156-a463-4ab1-a2a4-87251c7e7755" message="#[payload.source]"/>
	</flow>
</mule>
