uhub-api/src/main/mule/register-covid-case-Special.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5b2af91b-4446-480c-abe7-353715ac09fa" >
		<db:oracle-connection host="localhost" user="system" password="@dinho32" instance="XE" />
	</db:config>
	<flow name="register-covid-case" doc:id="62987b79-ec86-4a7e-9214-5bdfcd408ad2" >
		<http:listener doc:name="Listener" doc:id="96bc8e2a-d5b1-4e83-a642-61a5f0b55f3b" config-ref="HTTP_Listener_config" path="v1/casesSpecial" allowedMethods="POST">
			<http:response statusCode="#[vars.statusCode]" reasonPhrase="#[vars.statusReason]" />
		</http:listener>
		<logger level="INFO" doc:name="START Log" doc:id="8d2c79cf-2d24-49d7-a2f0-631d6b56fb8e" message="#[payload]"/>
		<ee:transform doc:name="prepare covid case payload" doc:id="f9c64cb0-a2e8-4fc9-bbfc-e0586a4a6071" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/java
var actionDate = now() as String {
	format: "yyyy-MM-dd"
}
var owner = "UHIS"
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth,
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalID,
	update_date: actionDate,
	create_by: owner,
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	create_date: actionDate,
	update_by: owner,
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert COVID CASE MASTER" doc:id="3be069b4-10ea-4d28-a8c3-a2d4a2573d33" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into cvd_case_master 
    (source, 
     case_type, 
     first_name, 
     last_name, 
     phone, 
     email, 
     date_of_birth, 
     national_id, 
     national_id_type, 
     street_address, 
     city, 
     state, 
     postal, 
     country, 
     create_date, 
     update_date, 
     create_by, 
     update_by) 
values 
    (:source, 
     :case_type, 
     :first_name, 
     :last_name, 
     :phone, 
     :email, 
     to_date(:date_of_birth,'YYYY-MM-DD'), 
     :national_id, 
     :national_id_type, 
     :street_address, 
     :city, 
     :state, 
     :postal, 
     :country, 
     to_date(:create_date, 'YYYY-MM-DD'), 
     to_date(:update_date, 'YYYY-MM-DD'), 
     :create_by, 
     :update_by)]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select CASE_ID (PK)" doc:id="0d7b0b87-b301-4cf7-8d01-eedaff98c7df" config-ref="Database_Config">
			<db:sql ><![CDATA[select max(case_id) as case_id from cvd_case_master where national_id = :national_ID
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_ID: vars.covidPayload.national_id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="0a41f49b-3419-4e99-9f3e-3b4f1c029a12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"caseID": payload[0].CASE_ID
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statusReason" ><![CDATA["ok"]]></ee:set-variable>
				<ee:set-variable variableName="statusCode" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="END LOG" doc:id="d66ea4b1-9d7f-4e87-8d62-20703b3c3ee5" message="COMPLETED FLOW : #[payload]"/>
	</flow>
</mule>
