emp-sapi/src/main/mule/create-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d965b48-5f53-4a18-a73e-adfd6b2788b4" basePath="emp-sapi" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="394c6b51-99d2-4a15-a866-6280ab9c4a6a" >
		<db:oracle-connection host="localhost" user="system" password="@dinho32" instance="XE" />
	</db:config>
	<flow name="create-employeeFlow" doc:id="9b2fae03-ab53-4728-88b7-f49fef12d31b" >
		<http:listener doc:name="CreateEmployeeListener" doc:id="a3039faa-a740-41e7-8365-dfdf2ff89d1e" config-ref="HTTP_Listener_config" path="create-employee"/>
		<logger level="INFO" doc:name="Start log" doc:id="b75ebd91-644f-409a-9d4f-72f2b73751f8" message="the create employee flow started"/>
		<db:insert doc:name="Insert" doc:id="e7591179-251c-4184-923a-35ea609ef88f" config-ref="Database_Config">
			<db:sql ><![CDATA[insert emp(emp_id, emp_name, emp_status) values(:empID, :empName, :empStatus)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: payload.employeeID ,
	empName: payload.employeeName,
	empStatus : payload.employeeStatus
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
