uhub-1-sapi/src/main/mule/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-covid-case-by-national-idFlow" doc:id="c0764202-28bd-4e7c-aca0-379cf83e02d9" >
		<http:listener doc:name="Listener" doc:id="64a1ba37-4287-451e-bfa4-76674f923b02" config-ref="HTTP_Listener_config_Validation" allowedMethods="GET" path="v1/cases/{nationalID}">
			<http:response statusCode="#[vars.statusCode]" />
			<http:error-response statusCode="#[vars.statusCode]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Set CorrelationId and TransactionId" doc:id="68c76499-5f22-4bf0-a147-2e0bcaf24cb3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="4130909e-b249-46db-a0f9-ce836ddd93ee" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]'/>
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set nationalID" doc:id="36600520-14ed-4903-b20f-3e8736137b91" variableName="nationalID"/>
		<db:select doc:name="Select Case by NationalID" doc:id="5556692f-f609-4d5a-b6b1-5d81924c078a" config-ref="Database_Config_UHUB_1">
			<db:sql ><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, street_address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_id: vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="f456d0f6-f676-4904-9464-c35d6c257901" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Set Success Response" doc:id="f050bd7d-bb3d-486a-ba38-7b4b3b2c05dd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID : covidCase.case_id,
	source : covidCase.source,
	caseType : covidCase.case_type,
	firstName: covidCase.first_name,
	lastName: covidCase.last_name,
	phone: covidCase.phone,
	email: covidCase.email,
	dateOfBirth:  
        covidCase.date_of_birth as String {format: "yyyy-MM-dd"} 
         ,
	nationalID: covidCase.national_id,
	nationalIDType: covidCase.national_id_type,
	address: {
		streetAddress: covidCase.street_address,
		city: covidCase.city,
		state: covidCase.state,
		postal: covidCase.postal,
		country: covidCase.country,
	},
	createDate: 
        covidCase.create_date as String {format: "yyyy-MM-dd"} 
         ,
	updateDate: 
        covidCase.update_date as String {format: "yyyy-MM-dd"} 
         ,
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise CUSTOM:CASE_NOT_FOUND" doc:id="3ba53803-d6ed-4bf6-95fb-ab1620e4bdeb" type="CUSTOM:CASE_NOT_FOUND" description="The server has not found anything matching the Request-URI"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="09d5bf8b-2e90-4b69-ba71-f58f8ac6af01" type="CUSTOM:CASE_NOT_FOUND">
				<ee:transform doc:name="Set Not Found Response" doc:id="193fb240-751a-4578-948f-a389ed28a954">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource Not Found",
	"description": error.description,
	"dateTime": now() as String {format: "yyyy-MM-dd"},
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="statusCode"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			
		</error-handler>
	</flow>
</mule>
