uhub-1-sapi/src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-covid-reportsFlow" doc:id="dc962b8e-0d31-4cbc-b962-49bcb4adfb10" >
		<http:listener doc:name="Listener" doc:id="c0ac8c8b-d87e-469e-a2a0-9a530faa1808" config-ref="HTTP_Listener_config" path="v1/reports/{state}" allowedMethods="GET"/>
		<ee:transform doc:name="Set CorrelationId and TransactionId" doc:id="48a1b7b5-de60-44e4-8353-1706d56ddf0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start  Log" doc:id="6d6045c5-27da-496f-a410-ac83c8f63ae8" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]'/>
		<choice doc:name="Choice" doc:id="0fdb4d62-11b5-4043-bb02-ffbfe684a481" >
			<when expression="#[!isEmpty(attributes.queryParams.state)]">
				<db:select doc:name="Select" doc:id="815fcf8b-ce0b-44ab-8628-038873651493" />
			</when>
			<otherwise >
				<db:select doc:name="Select" doc:id="ab42d96e-8b1c-4fdb-aee9-7053935f81b8" />
			</otherwise>
		</choice>
	</flow>
</mule>
