uhub-1-sapi/src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-covid-reportsFlow" doc:id="dc962b8e-0d31-4cbc-b962-49bcb4adfb10" >
		<http:listener doc:name="Listener" doc:id="c0ac8c8b-d87e-469e-a2a0-9a530faa1808" config-ref="HTTP_Listener_config_Validation" path="/v1/reports/" allowedMethods="GET"/>
		<ee:transform doc:name="Set CorrelationId and TransactionId" doc:id="48a1b7b5-de60-44e4-8353-1706d56ddf0d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start  Log" doc:id="6d6045c5-27da-496f-a410-ac83c8f63ae8" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="ea7a2528-7aaf-415b-aaa5-2f23f2125ad8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[%dw 2.0
output application/java
---
if (!isEmpty(attributes.queryParams.state)) 
    "select count(*) as count, case_type, state from cvd_case_master where upper(state) = '" 
    ++ upper(attributes.queryParams.state) 
    ++ "' group by case_type, state"
else 
    "select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select case Reports" doc:id="f535a616-e13a-44e0-b4f6-ed79c7da0040" config-ref="Database_Config_UHUB_Validation">
			<db:sql ><![CDATA[#["$(vars.reportsDynamicQuery)"]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Prepare Reponse" doc:id="50d72e5d-afe3-4e64-81f3-99ed5e25d215" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter (($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map{
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="9c4aa70d-61f8-4a45-aefd-3d2eeec4f91b" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Completed update covid case flow", payload: #[payload]'/>
	</flow>
</mule>
