uhub-1-sapi/src/main/mule/register-covid-case-validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config_Validation" doc:name="HTTP Listener config" doc:id="251f2325-cbcf-4bd4-bcd7-4810e56fff90" basePath="covid">
		<http:listener-connection host="0.0.0.0" port="8097" />
	</http:listener-config>
	<db:config name="Database_Config_UHUB_Validation" doc:name="Database Config" doc:id="6fdd05c1-6794-48e5-a3d5-8f0b495e0430" >
		<db:oracle-connection host="localhost" user="system" password="@dinho32" instance="XE" >
			<db:pooling-profile />
		</db:oracle-connection>
	</db:config>
	<flow name="register-covid-validation-caseFlow" doc:id="0cab6d39-f523-4fbf-a28e-96a2614a0650" >
		<http:listener doc:name="Listener" doc:id="58b7360d-4e71-4628-b18d-9c6f0e63c350" config-ref="HTTP_Listener_config_Validation" path="v1/cases-validation" allowedMethods="POST">
			<http:response statusCode="#[vars.statusCode]" reasonPhrase="#[vars.statusReason]" />
		</http:listener>
		<ee:transform doc:name="Set transactionId and correlationId" doc:id="42f6cca0-7d39-4039-b33b-200bc7218bd0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[ %dw 2.0
output application/java
---

payload]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="501dd587-5a2b-4c33-979c-8b6519470963" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]'/>
		<flow-ref doc:name="covid-case-validations-sub-flow" doc:id="c371a4e2-870b-4ebb-a637-5dba0203ba85" name="covid-case-validations-sub-flow" />
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="a191d2ab-6f0e-4202-9c81-dda36dd7fcef" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/java
var actionDate = now() as String {format: "yyyy-MM-dd"}
var owner = "UHIS"
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth,
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalIDType,
	update_date: actionDate,
	create_by: owner,
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	create_date: actionDate,
	update_by: owner,
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Insert Covid Case Stored procedure" doc:id="9f9def76-3165-494d-af03-fd5123b66955" config-ref="Database_Config_UHUB_Validation">
			<db:sql><![CDATA[{call insert_covid_master(:source, 
                          :case_type, 
                          :first_name, 
                          :last_name, 
                          :phone, 
                          :email, 
                          :date_of_birth, 
                          :national_id, 
                          :national_id_type, 
                          :street_address, 
                          :city, 
                          :state, 
                          :postal, 
                          :country, 
                          :create_date, 
                          :update_date, 
                          :create_by, 
                          :update_by, 
                          :case_id)}
]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
			<db:output-parameters >
				<db:output-parameter key="case_id" type="INTEGER" />
			</db:output-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="6508afc7-c2f5-45b1-8cbf-9ddca1773de1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"caseID": payload.case_id as String
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statusCode" ><![CDATA[201]]></ee:set-variable>
				<ee:set-variable variableName="statusReason" ><![CDATA["OK"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="END LOG" doc:id="9251a3d7-cf49-4f63-b88d-e03d14aadcf0" message="COMPLETED REGISTER COVID CASE FLOW: #[payload]"/>
	</flow>
	<flow name="register-covid-validation-caseFlow-sub" doc:id="6a912cb7-bb39-4a96-b26f-dcdd3ef02cc6" >
		<logger level="INFO" doc:name="Logger" doc:id="a1af8b5e-83b1-4857-8d6c-c31dcb8a3362" />
		<db:select doc:name="Select CASE_ID" doc:id="d4344268-768a-4637-9a49-5c0b4a0a5689" config-ref="Database_Config_UHUB_Validation">
			<db:sql><![CDATA[select max(case_id) as case_id from cvd_case_master where national_id = :nationalID
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	nationalID: vars.covidPayload.national_id
}]]]></db:input-parameters>
		</db:select>
		<db:insert doc:name="Insert covid case master" doc:id="548d9b0e-361c-40d8-b072-1c5c04e96fa3" config-ref="Database_Config_UHUB_Validation">
			<db:sql><![CDATA[insert into cvd_case_master 
    (source, 
     case_type, 
     first_name, 
     last_name, 
     phone, 
     email, 
     date_of_birth, 
     national_id, 
     national_id_type, 
     street_address, 
     city, 
     state, 
     postal, 
     country, 
     create_date, 
     update_date, 
     create_by, 
     update_by) 
values 
    (:source, 
     :case_type, 
     :first_name, 
     :last_name, 
     :phone, 
     :email, 
     to_date(:date_of_birth,'YYYY-MM-DD'), 
     :national_id, 
     :national_id_type, 
     :street_address, 
     :city, 
     :state, 
     :postal, 
     :country, 
     to_date(:create_date, 'YYYY-MM-DD'), 
     to_date(:update_date, 'YYYY-MM-DD'), 
     :create_by, 
     :update_by)]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names>
			</db:auto-generated-keys-column-names>
		</db:insert>
	</flow>
</mule>
