uhub-1-sapi/src/main/mule/update-covid-case-validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="update-covid-case-validationFlow" doc:id="5fe8d219-e500-4c07-bd68-e3476c20ee5c" >
		<http:listener doc:name="Listener" doc:id="f1287f12-832c-4a5b-932c-9cc45041768d" config-ref="HTTP_Listener_config_Validation" path="v1/cases-validation" allowedMethods="PUT"/>
		<ee:transform doc:name="Set correlationId and TransactionId" doc:id="7d541fe5-8ac3-43dd-b0ad-944187774a60" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/java
---
payload.covidCase]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Logger" doc:id="dc639870-5d5d-4a43-acc0-b2c08a0bdf4c" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload.covidCase]'/>
		<validation:is-not-null doc:name="caseID Field Required" doc:id="54e3cd80-dab1-4a50-a9cb-c9c46382407a" value="#[vars.inputPayload.caseID]" message='#["caseID field required"]'/>
		<flow-ref doc:name="covid-case-validation-sub-flow" doc:id="7ae808d9-6b8f-4475-b24b-4d70545a56f1" name="covid-case-validations-sub-flow"/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="9644c2cc-f8f1-497d-acb4-39230b5da7b8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
---
{
	case_id: payload.covidCase.caseID,
	source: payload.covidCase.source,
	case_type: payload.covidCase.caseType,
	first_name: payload.covidCase.firstName,
	last_name: payload.covidCase.lastName,
	phone: payload.covidCase.phone,
	email: payload.covidCase.email,
	date_of_birth: payload.covidCase.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.covidCase.nationalID,
	national_id_type: payload.covidCase.nationalIDType,
	street_address: payload.covidCase.address.streetAddress,
	city: payload.covidCase.address.city,
	state: upper(payload.covidCase.address.state),
	postal: payload.covidCase.address.postal,
	country: payload.covidCase.address.country,
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update Covid Case Master" doc:id="5f280fd9-6d78-46f1-bef9-de2b4938edaa" config-ref="Database_Config_UHUB_1">
			<db:sql ><![CDATA[UPDATE cvd_case_master 
SET 
    source = :source,
    case_type = :case_type,
    first_name = :first_name,
    last_name = :last_name,
    phone = :phone,
    email = :email,
    date_of_birth = TO_DATE(:date_of_birth, 'YYYY-MM-DD'),
    national_id = :national_id,
    national_id_type = :national_id_type,
    street_address = :street_address,
    city = :city,
    state = :state,
    postal = :postal,
    country = :country,
    update_date = TO_DATE(:update_date, 'YYYY-MM-DD'),
    create_by = :create_by,
    update_by = :update_by
WHERE case_id = :case_id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.covidCasePayload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Success Response" doc:id="f0e46353-4ede-4a1d-b0fb-1613bfe40002" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0){
    caseID: vars.covidCasePayload.case_id
   } else{}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="bf0d951a-258a-4bd9-bbb3-0f5a241ec1f3" message='transactionID: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Completed update covid case flow", payload: #[payload]'/>
	</flow>
	<!-- [STUDIO:"old-update-covid-case-validationFlow1"]<flow name="old-update-covid-case-validationFlow1" doc:id="b57c8ba7-c9fa-41b7-bb63-f34b251c543f" >
		<logger level="INFO" doc:name="Logger" doc:id="7aacdc29-647b-4071-a9f8-4493fcc051a0" />
		<validation:all doc:name="All" doc:id="8e0234f4-39dd-4655-aecc-afe8205160f6">
			<validation:is-not-null doc:name="Is not null" doc:id="d71aa174-7e19-4da6-b87b-31f94faa704b" value="#[vars.inputPayload.caseID&#93;" message='#[" - Esse campo caseID não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="e104fba6-c389-4351-9983-e858825d36c6" value="#[vars.inputPayload.source&#93;" message='#[" - Esse campo source não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="7da093e1-ae04-4626-9683-1e4445795fba" value="#[vars.inputPayload.caseType&#93;" message='#[" - Esse campo caseType não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="f2dff98c-d6a3-4296-a0d8-659207b4d3bd" value="#[vars.inputPayload.firstName&#93;" message='#[" - Esse campo firstName não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="edd016a2-a22a-4969-ba72-9caf94d91f6b" value="#[vars.inputPayload.lastName&#93;" message='#[" - Esse campo lastName não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="c57bbe4f-28aa-43fc-b602-d60ed9e5e277" value="#[vars.inputPayload.phone&#93;" message='#[" - Esse campo phone não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="602dd425-3501-4925-9cb0-2d6c24288a01" value="#[vars.inputPayload.email&#93;" message='#[" - Esse campo email não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="3c3c27dc-e924-4fef-867c-288c2250d478" value="#[vars.inputPayload.dateOfBirth&#93;" message='#[" - Esse campo dateOfBirth não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="7f2203ee-bc0b-436a-b76b-9f2c9a1ce726" value="#[vars.inputPayload.nationalID&#93;" message='#[" - Esse campo nationalID não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="1bc673d6-c883-4466-9a5a-ac44235f64f6" value="#[vars.inputPayload.nationalIDType&#93;" message='#[" - Esse campo nationalIDType não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="1cad1f47-2b07-4c60-8c2b-eae51026ace9" value="#[vars.inputPayload.address.streetAddress&#93;" message='#[" - Esse campo streetAddress não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="74f7a7ab-3eb1-48d3-b2f2-cb57d6efd2e2" value="#[vars.inputPayload.address.city&#93;" message='#[" - Esse campo city não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="4539602c-5581-4c34-af69-519b5e5ff4df" value="#[vars.inputPayload.address.state&#93;" message='#[" - Esse campo state não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="f3abb9f5-a8de-4842-8b49-bfe5be7743cd" value="#[vars.inputPayload.address.postal&#93;" message='#[" - Esse campo postal não está correto."&#93;' />
			<validation:is-not-null doc:name="Is not null" doc:id="4231842e-2ad4-4e58-8683-526e0d1b7a58" value="#[vars.inputPayload.address.country&#93;" message='#[" - Esse campo country não está correto."&#93;' />
		</validation:all>
	</flow> [STUDIO] -->
</mule>
