datawaeve-basics/src/main/mule/datawaeve-selectors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="datawaeve-selectorsFlow" doc:id="67250ca2-9263-4200-aa27-33d746570b57" >
		<ee:transform doc:name="Transform Message" doc:id="3ef91c6a-a318-45c4-8ae1-cdc4fdae0d46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.source]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="datawaeve-selectorsFlow1" doc:id="d84bd6ca-54d6-4c14-8425-aa859f8d2880" >
		<ee:transform doc:name="Transform Message" doc:id="3320e572-3f62-499e-a3f5-498b05f3085f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{

    "singleValueSelector": payload[0].id,
	"selectorOfFilds": payload.*roles,
	"selector de index":payload[0],
	"range": payload[0 to 1]
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
