mule-event-demo/src/main/mule/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-header-demoFlow" doc:id="601580bd-92ee-4258-b4a1-5615a5014fb3" >
		<http:listener doc:name="Listener" doc:id="6d4ae0cf-17a3-41f7-864f-ccde13400029" config-ref="HTTP_Listener_config" path="/read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="82543767-0b10-4f5d-9bad-3d1387139b74" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
