mule-event-demo/src/main/mule/read-query-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-query-params-demoFlow" doc:id="3a491eaf-c090-46d9-8a1e-eaed82dd9ce3" >
		<http:listener doc:name="Listener" doc:id="4666b8bd-e153-40e1-a80c-4a5ba5850c4d" config-ref="HTTP_Listener_config" path="read-query-params"/>
		<logger level="INFO" doc:name="Logger" doc:id="64054f11-b142-49e3-8adf-f42208ed8c30" message="#[attributes.queryParams.employeeID]"/>
	</flow>
</mule>
