mule-event-demo/src/main/mule/read-uri-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="c4785ae7-95ab-423f-af22-c4d27a542ab2" basePath="mule-message-structure-demo" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="read-uri-params-demoFlow" doc:id="3b07e0be-9489-4a22-86b1-2e3e7df1f2fe" >
		<http:listener doc:name="Listener" doc:id="fbb8e1ca-9550-460a-a7f0-6935eb50b3ea" config-ref="HTTP_Listener_config" path="read-uri-params/{empID}/{empName}/{empStatus}"/>
		<logger level="INFO" doc:name="Logger" doc:id="768705c9-6e7d-422d-9276-3341879d3ee9" message="#[attributes.uriParams.empName]"/>
	</flow>
</mule>
